.header {
  -webkit-box-shadow: 0px 1px 0px 0px #d1d1d1;
  box-shadow: 0px 1px 0px 0px #d1d1d1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #ffffff;
  padding: 34px 32px;
  z-index: 3;
}

@media screen and (max-width: 820px) {
  .header__burger {
    z-index: 3;
    position: absolute;
    width: 24px;
    height: 19px;
    top: 27px;
    left: 24px;
    cursor: pointer;
  }
  .header__burger::before {
    content: '';
    position: absolute;
    bottom: 0px;
    display: block;
    background-color: #000000;
    height: 2px;
    width: 100%;
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
  }
  .header__burger::after {
    content: '';
    position: absolute;
    top: 0px;
    display: block;
    background-color: #000000;
    height: 2px;
    width: 100%;
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
  }
  .header__burger span {
    position: absolute;
    bottom: 9px;
    display: block;
    background-color: #000000;
    height: 2px;
    width: 100%;
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
  }
  .header__burger.active::before {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    bottom: 8px;
  }
  .header__burger.active::after {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 9px;
  }
  .header__burger.active span {
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }
}

.header__logo {
  position: absolute;
  top: 20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 3;
}

@media screen and (max-width: 820px) {
  .header__logo img {
    height: 65px;
  }
}

@media screen and (max-width: 360px) {
  .header__logo {
    top: 11px;
  }
  .header__logo img {
    height: 51px;
  }
}

.header-nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

@media screen and (max-width: 820px) {
  .header-nav {
    position: fixed;
    left: 0;
    top: -120%;
    width: 100%;
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #ffffff;
    -webkit-transition: all .8s ease;
    -o-transition: all .8s ease;
    transition: all .8s ease;
  }
}

.header-nav.active {
  position: fixed;
  top: 0;
}

.header-nav.active::after {
  content: '';
  height: 1px;
  width: 100%;
  position: absolute;
  top: 68px;
  left: 0;
  -webkit-box-shadow: 0px 1px 0px 0px #d1d1d1;
  box-shadow: 0px 1px 0px 0px #d1d1d1;
}

.header-nav__item {
  font-family: Gotham Pro, sans-serif;
  font-style: normal;
  margin-right: 20px;
  font-weight: 900;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
}

@media screen and (max-width: 820px) {
  .header-nav__item:first-child {
    margin: 40% 0 24px 0;
  }
}

.header-nav__item:last-child {
  margin: 0 0 0 auto;
  border-bottom: 1px solid #000000;
}

@media screen and (max-width: 820px) {
  .header-nav__item:last-child {
    background: #999B30;
    padding: 24px 20px;
    margin: auto auto 37px auto;
    -webkit-box-shadow: 0px 20px 50px rgba(153, 155, 48, 0.4);
    box-shadow: 0px 20px 50px rgba(153, 155, 48, 0.4);
    -webkit-border-radius: 8px;
    border-radius: 8px;
    border: none;
    font-family: Gotham Pro, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #FFFFFF;
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
  }
  .header-nav__item:last-child:hover {
    -webkit-box-shadow: none;
    box-shadow: none;
  }
}

.main {
  font-family: Gotham Pro, sans-serif;
  padding: 130px 0 0 0;
}

@media screen and (max-width: 820px) {
  .main {
    padding: 100px 0 0 0;
  }
}

@media screen and (max-width: 600px) {
  .main br {
    display: none;
  }
}

.main .scout {
  position: relative;
  margin: 0 50px 170px 50px;
  min-height: 720px;
}

@media screen and (max-width: 1160px) {
  .main .scout {
    margin: 0 50px 40px 50px;
  }
}

@media screen and (max-width: 820px) {
  .main .scout {
    min-height: auto;
    margin: 0 16px 120px 16px;
  }
}

@media screen and (max-width: 500px) {
  .main .scout {
    margin: 30px 16px 30px 16px;
  }
}

.main .scout__img {
  -o-object-fit: cover;
  object-fit: cover;
  min-height: 720px;
}

@media screen and (max-width: 1160px) {
  .main .scout__img {
    min-height: 620px;
  }
}

@media screen and (max-width: 820px) {
  .main .scout__img {
    min-height: 500px;
  }
}

@media screen and (max-width: 500px) {
  .main .scout__img {
    min-height: 257px;
  }
}

.main .scout__title {
  position: absolute;
  left: 90px;
  top: 35%;
  font-style: normal;
  font-weight: 900;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.main .scout__title span {
  display: inline-block;
  padding: 0 10px;
  background: #999B30;
  -webkit-border-radius: 8px;
  border-radius: 8px;
}

@media screen and (max-width: 500px) {
  .main .scout__title span {
    line-height: inherit;
    color: #ffffff;
    padding: 2px 5px;
    margin-bottom: 4px;
    margin-right: 50%;
  }
}

@media screen and (max-width: 1160px) {
  .main .scout__title {
    left: 50px;
  }
}

@media screen and (max-width: 860px) {
  .main .scout__title {
    left: 50px;
    top: 20%;
  }
}

@media screen and (max-width: 500px) {
  .main .scout__title {
    font-size: 24px;
    line-height: 28px;
    position: static;
    color: #000000;
    margin-bottom: 24px;
    width: 65%;
  }
}

.main .scout .btn {
  background: #999B30;
  padding: 32px 40px;
  margin: auto auto 37px auto;
  -webkit-box-shadow: 0px 20px 50px rgba(153, 155, 48, 0.4);
  box-shadow: 0px 20px 50px rgba(153, 155, 48, 0.4);
  -webkit-border-radius: 8px;
  border-radius: 8px;
  border: none;
  font-family: Gotham Pro, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 20px;
  line-height: 36px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #FFFFFF;
  position: relative;
  left: 90px;
  bottom: 12px;
  text-decoration: none;
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}

.main .scout .btn:hover {
  -webkit-box-shadow: none;
  box-shadow: none;
}

@media screen and (max-width: 1160px) {
  .main .scout .btn {
    font-size: 14px;
    line-height: 24px;
    left: 50px;
  }
}

@media screen and (max-width: 500px) {
  .main .scout .btn {
    position: static;
    display: block;
    margin: 20px auto 37px auto;
    text-align: center;
    padding: 22px 10px;
  }
}

.endurance .container {
  padding: 0 100px 120px 100px;
}

@media screen and (max-width: 860px) {
  .endurance .container {
    padding: 0 50px 120px 50px;
  }
}

@media screen and (max-width: 600px) {
  .endurance .container {
    padding: 30px 18px;
  }
}

@media screen and (max-width: 500px) {
  .endurance__img {
    margin: 0 0 30px 0;
  }
}

.endurance-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0 0 40px 0;
}

@media screen and (max-width: 500px) {
  .endurance-content {
    margin: 0px 0 24px 0;
  }
}

.endurance__title {
  font-style: normal;
  font-weight: 900;
  margin: 0 0 0 30px;
}

@media screen and (max-width: 860px) {
  .endurance__title {
    font-size: 24px;
    line-height: 32px;
  }
}

.endurance__text {
  width: 50%;
}

@media screen and (max-width: 860px) {
  .endurance__text {
    width: 400px;
  }
}

@media screen and (max-width: 500px) {
  .endurance__text {
    display: none;
  }
}

.endurance__text p {
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 32px;
}

.endurance__text p:first-child {
  padding: 0 0 40px 0;
}

@media screen and (max-width: 860px) {
  .endurance__text p {
    font-size: 16px;
    line-height: 24px;
  }
}

.endurance__text.m {
  display: none;
}

@media screen and (max-width: 500px) {
  .endurance__text.m {
    display: block;
    width: 100%;
  }
}

.energy {
  position: relative;
}

.energy__img {
  padding: 0 100px 120px 209px;
}

@media screen and (max-width: 860px) {
  .energy__img {
    padding: 0 50px 160px 140px;
  }
}

@media screen and (max-width: 600px) {
  .energy__img {
    padding: 30px 18px;
  }
}

.energy-content {
  padding: 96px 80px;
  position: absolute;
  background-color: #fff;
  -webkit-box-shadow: 0px 50px 150px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 50px 150px rgba(0, 0, 0, 0.15);
  bottom: 22%;
  left: 100px;
  -webkit-border-radius: 16px;
  border-radius: 16px;
  max-width: 48%;
}

@media screen and (max-width: 1160px) {
  .energy-content {
    padding: 80px 50px 70px 55px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    bottom: 22%;
    max-width: 44%;
  }
}

@media screen and (max-width: 860px) {
  .energy-content {
    padding: 55px 55px;
    left: 50px;
    bottom: 8%;
    max-width: 60%;
  }
}

@media screen and (max-width: 500px) {
  .energy-content {
    position: static;
    padding: 0 16px;
    max-width: 100%;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
}

.energy__title {
  font-style: normal;
  font-weight: 900;
  margin: 0 0 36px 0;
}

@media screen and (max-width: 860px) {
  .energy__title {
    margin: 0 0 15px 0;
  }
}

@media screen and (max-width: 500px) {
  .energy__title {
    margin: 0 0 5px 0;
  }
}

.energy__text p {
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 32px;
}

.energy__text p:first-child {
  padding: 0 0 40px 0;
}

@media screen and (max-width: 1160px) {
  .energy__text p:first-child {
    padding: 0 0 20px 0;
  }
}

@media screen and (max-width: 1366px) {
  .energy__text p {
    font-size: 18px;
    line-height: 24px;
  }
}

@media screen and (max-width: 1160px) {
  .energy__text p {
    font-size: 18px;
    line-height: 24px;
  }
}

@media screen and (max-width: 500px) {
  .energy__text p {
    display: none;
  }
}

.move {
  position: relative;
}

.move__img {
  padding: 0 180px 120px 100px;
}

@media screen and (max-width: 860px) {
  .move__img {
    padding: 0px 140px 160px 50px;
  }
}

@media screen and (max-width: 600px) {
  .move__img {
    padding: 30px 18px;
  }
}

.move-content {
  padding: 90px 75px;
  position: absolute;
  background-color: #fff;
  -webkit-box-shadow: 0px 50px 150px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 50px 150px rgba(0, 0, 0, 0.15);
  top: 12%;
  right: 100px;
  -webkit-border-radius: 16px;
  border-radius: 16px;
  max-width: 48%;
}

@media screen and (max-width: 1160px) {
  .move-content {
    padding: 80px 50px 70px 55px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    max-width: 46%;
    top: 10%;
  }
}

@media screen and (max-width: 860px) {
  .move-content {
    padding: 55px;
    top: 25%;
    right: 50px;
    max-width: 60%;
  }
  .move-content p {
    font-size: 16px;
  }
}

@media screen and (max-width: 720px) {
  .move-content {
    top: 10%;
  }
}

@media screen and (max-width: 500px) {
  .move-content {
    position: static;
    padding: 0 16px;
    max-width: 100%;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
}

.test-slider {
  position: relative;
  background: #EFF3EF;
  -webkit-border-radius: 16px;
  border-radius: 16px;
  min-height: 720px;
  margin: 0 100px 170px 100px;
}

@media screen and (max-width: 860px) {
  .test-slider {
    margin: 0 50px 170px 50px;
  }
}

.test-slider .container {
  max-width: 50%;
  margin-left: auto;
}

.test-slider img {
  width: auto;
}

.test-slider .dog {
  position: absolute;
  max-height: 708px;
  left: 135px;
  bottom: 0;
}

.test-slider .pack {
  position: absolute;
  max-height: 350px;
  bottom: 0;
  left: 0;
}

.test-slider .btn {
  background: #999B30;
  padding: 24px 20px;
  -webkit-box-shadow: 0px 20px 50px rgba(153, 155, 48, 0.4);
  box-shadow: 0px 20px 50px rgba(153, 155, 48, 0.4);
  -webkit-border-radius: 8px;
  border-radius: 8px;
  border: none;
  font-family: Gotham Pro, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #FFFFFF;
  position: absolute;
  right: 190px;
  bottom: -30px;
  text-decoration: none;
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}

.test-slider .btn:hover {
  -webkit-box-shadow: none;
  box-shadow: none;
}

@media screen and (max-width: 1160px) {
  .test-slider .btn {
    right: 100px;
  }
}

@media screen and (max-width: 860px) {
  .test-slider .btn {
    right: 45px;
  }
}

.dsns {
  position: relative;
}

.dsns__img {
  padding: 0 100px 100px 180px;
}

@media screen and (max-width: 860px) {
  .dsns__img {
    padding: 0 50px 120px 140px;
  }
}

@media screen and (max-width: 600px) {
  .dsns__img {
    padding: 30px 18px;
  }
}

.dsns-content {
  padding: 80px 50px 80px 80px;
  position: absolute;
  background-color: #fff;
  -webkit-box-shadow: 0px 50px 150px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 50px 150px rgba(0, 0, 0, 0.15);
  top: 10%;
  left: 100px;
  -webkit-border-radius: 16px;
  border-radius: 16px;
  max-width: 48%;
}

@media screen and (max-width: 1160px) {
  .dsns-content {
    max-width: 46%;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    padding: 50px;
  }
}

@media screen and (max-width: 860px) {
  .dsns-content {
    padding: 50px;
    top: 15%;
    left: 50px;
    max-width: 60%;
  }
  .dsns-content p {
    font-size: 16px;
    line-height: 24px;
  }
}

@media screen and (max-width: 720px) {
  .dsns-content {
    top: 5%;
  }
}

@media screen and (max-width: 500px) {
  .dsns-content {
    position: static;
    padding: 0 16px;
    max-width: 100%;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
}

.dsns .energy__title {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

@media screen and (max-width: 860px) {
  .dsns .energy__title img {
    max-width: 77px;
  }
}

@media screen and (max-width: 500px) {
  .dsns .energy__title img {
    margin: 0 0 0 10px;
  }
}

.dsns h3 {
  font-style: normal;
  font-weight: bold;
  margin: 0 0 22px 0;
}

@media screen and (max-width: 860px) {
  .dsns h3 {
    margin: 0 0 15px 0;
    font-size: 16px;
    line-height: 24px;
    font-weight: bold;
  }
}

@media screen and (max-width: 500px) {
  .dsns h3 {
    margin: 0 0 5px 0;
  }
}

.instagram {
  text-align: center;
}

.instagram__text {
  max-width: 60%;
  margin: 0 auto 55px auto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
}

@media screen and (max-width: 500px) {
  .instagram__text {
    margin: 0 15px 55px 15px;
    max-width: 100%;
    font-size: 16px;
    line-height: 24px;
  }
}

.instagram__title {
  font-weight: 900;
  margin: 0 0 25px 0;
}

@media screen and (max-width: 500px) {
  .instagram__title {
    margin: 0 auto 25px auto;
    width: 80%;
  }
}

.news-slider {
  margin: 0 0 200px 0;
}

@media screen and (max-width: 500px) {
  .news-slider {
    margin: 0 0 70px 0;
  }
}

.news-slider__title {
  font-style: normal;
  font-weight: 900;
  text-align: center;
}

@media screen and (max-width: 500px) {
  .news-slider__title {
    margin: 0;
  }
}

.news-slider .news-container {
  padding: 0 100px;
}

.news-slider .owl-carousel.owl-loaded {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: column-reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse;
  z-index: 0;
}

@media screen and (max-width: 500px) {
  .news-slider .owl-carousel.owl-loaded {
    padding: 0 16px;
  }
}

.news-slider .owl-item img {
  margin: 0 0 24px 0;
}

.news-slider .owl-item a {
  color: #000000;
  text-decoration: none;
}

.news-slider .owl-nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0 -20px;
  position: relative;
  top: 220px;
}

@media screen and (max-width: 1680px) {
  .news-slider .owl-nav {
    top: 190px;
  }
}

@media screen and (max-width: 1366px) {
  .news-slider .owl-nav {
    top: 150px;
  }
}

@media screen and (max-width: 1160px) {
  .news-slider .owl-nav {
    top: 110px;
  }
}

@media screen and (max-width: 500px) {
  .news-slider .owl-nav {
    top: inherit;
    bottom: 50px;
    margin: 0;
  }
}

.news-slider .owl-prev, .news-slider .owl-next {
  height: 40px;
  width: 40px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: #DDDF76 !important;
}

.test {
  min-height: 540px;
  background: #F3F3F3;
  margin: 0 100px 80px 100px;
  -webkit-border-radius: 16px;
  border-radius: 16px;
  position: relative;
  padding: 120px 0 65px 45%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

@media screen and (max-width: 1160px) {
  .test {
    padding: 80px 0 50px 46%;
    min-height: 410px;
  }
}

@media screen and (max-width: 860px) {
  .test {
    min-height: 330px;
    padding: 60px 0 50px 45%;
    margin: 0 50px 80px 50px;
  }
}

@media screen and (max-width: 600px) {
  .test {
    padding: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    min-height: 680px;
    margin: 0 15px 30px 15px;
  }
}

.test__buy {
  font-style: normal;
  font-weight: 900;
  font-size: 20px;
  line-height: 36px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #000;
  text-decoration: none;
  border-bottom: 1px solid #000000;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  cursor: pointer;
}

@media screen and (max-width: 1160px) {
  .test__buy {
    font-size: 14px;
    line-height: 24px;
  }
}

@media screen and (max-width: 600px) {
  .test__buy {
    margin: 0 0 60px 0;
  }
}

.test__btn {
  background: #999B30;
  padding: 24px 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  max-width: 290px;
  -webkit-box-shadow: 0px 20px 50px rgba(153, 155, 48, 0.4);
  box-shadow: 0px 20px 50px rgba(153, 155, 48, 0.4);
  -webkit-border-radius: 8px;
  border-radius: 8px;
  border: none;
  font-family: Gotham Pro, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 20px;
  line-height: 36px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #FFFFFF;
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
  text-decoration: none;
}

@media screen and (max-width: 1160px) {
  .test__btn {
    font-size: 14px;
    line-height: 24px;
    max-width: 210px;
  }
}

@media screen and (max-width: 600px) {
  .test__btn {
    margin: 0 0 60px 0;
  }
}

.test__btn:hover {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.test__title {
  font-style: normal;
  font-weight: 900;
}

@media screen and (max-width: 600px) {
  .test__title {
    margin: 0 0 30px 0;
  }
}

.test .bg {
  position: absolute;
  bottom: -20px;
  left: 120px;
  width: auto;
}

@media screen and (max-width: 1160px) {
  .test .bg {
    height: 480px;
  }
}

@media screen and (max-width: 860px) {
  .test .bg {
    height: 360px;
    left: 90px;
  }
}

@media screen and (max-width: 600px) {
  .test .bg {
    height: 330px;
    left: 100px;
    top: 20px;
  }
}

.test .sm {
  position: absolute;
  bottom: -35px;
  z-index: 2;
  left: -45px;
  width: auto;
}

@media screen and (max-width: 1160px) {
  .test .sm {
    height: 370px;
  }
}

@media screen and (max-width: 860px) {
  .test .sm {
    height: 260px;
    bottom: -20px;
    left: -5px;
  }
}

@media screen and (max-width: 600px) {
  .test .sm {
    top: 100px;
    left: 0px;
  }
}

.store {
  padding: 70px 40px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.store h2 {
  margin: 0 0 70px 0;
  font-family: Gotham Pro, sans-serif;
}

@media screen and (max-width: 600px) {
  .store h2 {
    margin: 0 0 45px 0;
  }
}

.store__item {
  border: 1px solid #D1D1D1;
  width: 33.33%;
  min-height: 160px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
  padding: 0 40px;
}

.store__item:hover {
  background: #EFF3EF;
}

.store__item a {
  color: #505050;
  text-decoration: none;
  font-family: Gotham Pro, sans-serif;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.store__item a img {
  padding: 0 0 30px 0;
}

@media screen and (max-width: 500px) {
  .store__item {
    width: 50%;
    min-height: 140px;
  }
}

.modal-ingredients .container {
  font-family: Gotham Pro, sans-serif;
  padding: 40px;
}

.modal-ingredients .container .nutritional {
  width: 38%;
}

.modal-ingredients .container .nutritional-title {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 0 30px 0;
}

@media screen and (max-width: 1160px) {
  .modal-ingredients .container .nutritional-title {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
}

@media screen and (max-width: 860px) {
  .modal-ingredients .container .nutritional-title {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
}

@media screen and (max-width: 500px) {
  .modal-ingredients .container .nutritional-title {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

.modal-ingredients .container .nutritional-title p {
  font-weight: normal;
  color: #505050;
  font-size: 16px;
  line-height: 20px;
  text-align: right;
}

.modal-ingredients .container .nutritional-container {
  margin: 0 0 40px 0;
}

.modal-ingredients .container .nutritional__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-top: 1px solid #D1D1D1;
}

.modal-ingredients .container .nutritional__item:last-child {
  border-bottom: 1px solid #D1D1D1;
}

.modal-ingredients .container .nutritional .energy__item {
  border-bottom: 1px solid #D1D1D1;
}

@media screen and (max-width: 860px) {
  .modal-ingredients .container .nutritional {
    width: 100%;
  }
}

.modal-ingredients .container .additives {
  width: 58%;
}

@media screen and (max-width: 860px) {
  .modal-ingredients .container .additives {
    width: 100%;
  }
}

.modal-ingredients .container .additives-title {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 0 30px 0;
}

@media screen and (max-width: 1160px) {
  .modal-ingredients .container .additives-title {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

@media screen and (max-width: 860px) {
  .modal-ingredients .container .additives-title {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
}

@media screen and (max-width: 500px) {
  .modal-ingredients .container .additives-title {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

.modal-ingredients .container .additives-title p {
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #505050;
}

.modal-ingredients .container .additives-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

@media screen and (max-width: 860px) {
  .modal-ingredients .container .additives-container {
    margin: 0 0 60px 0;
  }
}

.modal-ingredients .container .additives__item {
  width: 20%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  border: 1px solid #D1D1D1;
  min-height: 110px;
  padding: 10px 5px;
}

.modal-ingredients .container .additives__item:last-child {
  width: 80%;
}

@media screen and (max-width: 1160px) {
  .modal-ingredients .container .additives__item:last-child {
    width: 100%;
  }
}

@media screen and (max-width: 860px) {
  .modal-ingredients .container .additives__item:last-child {
    width: 80%;
  }
}

@media screen and (max-width: 500px) {
  .modal-ingredients .container .additives__item:last-child {
    width: 100%;
  }
}

@media screen and (max-width: 1160px) {
  .modal-ingredients .container .additives__item {
    width: 25%;
  }
}

@media screen and (max-width: 860px) {
  .modal-ingredients .container .additives__item {
    width: 20%;
  }
}

@media screen and (max-width: 500px) {
  .modal-ingredients .container .additives__item {
    width: 50%;
  }
}

.modal-ingredients .container .additives__item .property {
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  letter-spacing: 0.02em;
}

@media screen and (max-width: 1160px) {
  .modal-ingredients .container .additives__item .property {
    font-size: 14px;
    line-height: 20px;
  }
}

.modal-ingredients .container .additives__item .value {
  text-align: center;
  font-size: 14px;
}

@media screen and (max-width: 1160px) {
  .modal-ingredients .container .additives__item .value {
    font-size: 12px;
    line-height: 26px;
  }
}

.modal-ingredients .container .composition {
  width: 100%;
}

.modal-ingredients .container .composition-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}

@media screen and (max-width: 860px) {
  .modal-ingredients .container .composition-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
}

.modal-ingredients .container .composition-content p:first-child {
  width: 43%;
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;
  color: #505050;
}

@media screen and (max-width: 1160px) {
  .modal-ingredients .container .composition-content p:first-child {
    font-size: 14px;
    line-height: 24px;
  }
}

@media screen and (max-width: 860px) {
  .modal-ingredients .container .composition-content p:first-child {
    margin: 0 0 25px 0;
    width: 100%;
  }
}

.modal-ingredients .container .composition-content p:last-child {
  font-size: 16px;
  line-height: 44px;
  color: #505050;
}

@media screen and (max-width: 860px) {
  .modal-ingredients .container .composition-content p:last-child {
    font-size: 14px;
    line-height: 44px;
  }
}

.modal-ingredients h3 {
  color: #999B30;
  font-weight: 900;
  margin: 0 0 8px 0;
}

.modal-ingredients .top {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

@media screen and (max-width: 860px) {
  .modal-ingredients .top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

.modal-ingredients .value {
  font-weight: normal;
  font-size: 16px;
  line-height: 44px;
  text-align: right;
  color: #505050;
}

@media screen and (max-width: 1160px) {
  .modal-ingredients .value {
    font-size: 14px;
    line-height: 44px;
  }
}

@media screen and (max-width: 860px) {
  .modal-ingredients .value {
    font-size: 16px;
    line-height: 44px;
  }
}

.modal-ingredients .property {
  font-weight: bold;
  font-size: 16px;
  line-height: 44px;
  color: #000000;
}

@media screen and (max-width: 1160px) {
  .modal-ingredients .property {
    font-size: 14px;
    line-height: 44px;
  }
}

@media screen and (max-width: 860px) {
  .modal-ingredients .property {
    font-size: 16px;
    line-height: 44px;
  }
}

.line {
  background: #D1D1D1;
  border: none;
  height: 1px;
  margin: 0 100px 120px 100px;
}

@media screen and (max-width: 860px) {
  .line {
    margin: 0 50px 80px 50px;
  }
}

@media screen and (max-width: 500px) {
  .line {
    margin: 0 0 55px 0;
  }
}

.fa-angle-right {
  position: relative;
  left: 2px;
}

.fa-angle-left {
  position: relative;
  right: 2px;
}

body.lock {
  overflow: hidden;
}

@font-face {
  font-family: "GothamProRegular", sans-serif;
  src: url("../fonts/GothamProRegular/GothamProRegular.woff") format("woff"), url("../fonts/GothamProRegular/GothamProRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "GothamProBold", sans-serif;
  src: url("../fonts/GothamProBold/GothamProBold.woff") format("woff"), url("../fonts/GothamProBold/GothamProBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "GothamProBlack", sans-serif;
  src: url("../fonts/GothamProBlack/GothamProBlack.woff") format("woff"), url("../fonts/GothamProBlack/GothamProBlack.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "GothamProLight", sans-serif;
  src: url("../fonts/GothamProLight/GothamProLight.woff") format("woff"), url("../fonts/GothamProLight/GothamProLight.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

h1 {
  font-size: 56px;
  line-height: 64px;
}

@media screen and (max-width: 1160px) {
  h1 {
    font-size: 48px;
    line-height: 56px;
  }
}

@media screen and (max-width: 820px) {
  h1 {
    font-size: 40px;
    line-height: 48px;
  }
}

@media screen and (max-width: 360px) {
  h1 {
    font-size: 24px;
    line-height: 28px;
  }
}

h2 {
  font-size: 38px;
  line-height: 48px;
}

@media screen and (max-width: 1160px) {
  h2 {
    font-size: 32px;
    line-height: 40px;
  }
}

@media screen and (max-width: 820px) {
  h2 {
    font-size: 24px;
    line-height: 32px;
  }
}

h3 {
  font-size: 20px;
  line-height: 30px;
}

@media screen and (max-width: 820px) {
  h3 {
    font-size: 18px;
    line-height: 24px;
  }
}

@media screen and (max-width: 360px) {
  h3 {
    font-size: 16px;
    line-height: 24px;
  }
}

button {
  font-size: 20px;
  line-height: 36px;
}

@media screen and (max-width: 820px) {
  button {
    font-size: 14px;
    line-height: 24px;
  }
}

.header-nav__item {
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  cursor: pointer;
}

@media screen and (max-width: 820px) {
  .header-nav__item {
    font-weight: 900;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    letter-spacing: -0.01em;
    margin: 24px 0;
    text-align: center;
  }
}

@media screen and (max-width: 360px) {
  .header-nav__item {
    font-weight: 900;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    margin: 24px 0;
  }
}

.b {
  font-weight: bold;
}

.g {
  color: #999B30;
  margin: 0 70% 0 0;
}

.u {
  text-transform: uppercase;
}

@media screen and (max-width: 500px) {
  .u {
    text-transform: none;
  }
}

.dot {
  display: inline-block;
  width: 5px;
  height: 5px;
  background: #FF0000;
  margin: 0 0 5px 0;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

@media screen and (max-width: 500px) {
  .energy__text.m {
    padding: 0 16px 45px 16px;
  }
}

.energy__text.m p {
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 32px;
  display: none;
}

.energy__text.m p:first-child {
  padding: 0 0 40px 0;
}

@media screen and (max-width: 1160px) {
  .energy__text.m p:first-child {
    padding: 0 0 20px 0;
  }
}

@media screen and (max-width: 1366px) {
  .energy__text.m p {
    font-size: 18px;
    line-height: 24px;
  }
}

@media screen and (max-width: 1160px) {
  .energy__text.m p {
    font-size: 18px;
    line-height: 24px;
  }
}

@media screen and (max-width: 500px) {
  .energy__text.m p {
    display: block;
    font-size: 16px;
  }
}

.modal-buy,
.modal-ingredients {
  display: none;
  max-width: 100%;
  position: absolute;
  z-index: 100;
  left: 5%;
  top: 10%;
  right: 5%;
  -webkit-border-radius: 16px;
  border-radius: 16px;
  background: #ffffff;
}

@media screen and (max-width: 500px) {
  .modal-buy,
  .modal-ingredients {
    -webkit-border-radius: 0;
    border-radius: 0;
  }
}

.modal-buy {
  position: fixed;
  min-height: 86%;
}

@media screen and (max-width: 500px) {
  .modal-buy {
    left: 0;
    top: 0;
    right: 0;
    min-height: 100%;
  }
}

.modal-ingredients {
  min-height: 105%;
}

@media screen and (max-width: 860px) {
  .modal-ingredients {
    min-height: 1500px;
  }
}

@media screen and (max-width: 500px) {
  .modal-ingredients {
    min-height: 2160px;
    left: 0;
    top: 0;
    right: 0;
  }
}

.on {
  display: block;
}

.modal-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  background: rgba(0, 0, 0, 0.65);
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}

.modal-overlay.on {
  display: block;
}

.modal-guts {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 860px) {
  .energy-value {
    display: none;
  }
}

.view {
  display: none;
}

@media screen and (max-width: 860px) {
  .view {
    display: block;
  }
}

.close-button {
  position: fixed;
  z-index: 150;
  top: 24px;
  right: 40px;
  border: 0;
  background: transparent;
  width: 36px;
  height: 36px;
  color: white;
  padding: 5px 10px;
  font-size: 1.3rem;
  cursor: pointer;
  outline: none;
}

.close-button span:first-child {
  position: absolute;
  left: 0;
  top: 16px;
  width: 100%;
  height: 2px;
  background-color: #fff;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

@media screen and (max-width: 500px) {
  .close-button span:first-child {
    background-color: #000;
  }
}

.close-button span:last-child {
  position: absolute;
  left: 0;
  bottom: 18px;
  width: 100%;
  height: 2px;
  background-color: #fff;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

@media screen and (max-width: 500px) {
  .close-button span:last-child {
    background-color: #000;
  }
}

@media screen and (max-width: 500px) {
  .close-button {
    top: 22px;
    right: 22px;
    width: 20px;
  }
}
